.box {
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    border: 5px solid green;
}
.box1 {
    background-color: blue;
    margin: 10px 40px 30px;
    padding: 10px;
}
.box2 {
    background-color: rgb(90, 206, 23);
    margin: 30px;
    margin-bottom: 10px;
}