div.parent {
    height: 250px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}
* {
    box-sizing: border-box;
}
.parent div:nth-child(7) {
    align-self: flex-start;
}